/MasterMind/.vs
/MasterMind/MasterMind.Engine/bin
/MasterMind/MasterMind.Engine/obj
/MasterMind/MasterMind.Tests/bin
/MasterMind/MasterMind.Tests/obj
/MasterMind/MasterMindDesktop/bin
/MasterMind/MasterMindDesktop/obj
/MasterMind/MasterMindDesktop/*.user
/MerlinMagicSquares/.vs
/MerlinMagicSquares/Merlin.Engine/bin
/MerlinMagicSquares/Merlin.Engine/obj
/MerlinMagicSquares/Merlin.Tests/bin
/MerlinMagicSquares/Merlin.Tests/obj
/MerlinMagicSquares/MerlinDesktop/bin
/MerlinMagicSquares/MerlinDesktop/obj
/MerlinMagicSquares/MerlinDesktop/*.user
/Othello/.vs
/Othello/Othello.Engine/bin
/Othello/Othello.Engine/obj
/Othello/Othello.Tests/bin
/Othello/Othello.Tests/obj
/Othello/OthelloDesktop/bin
/Othello/OthelloDesktop/obj
/Othello/OthelloDesktop/*.user
/TicTacToe/.vs/TicTacToe
/TicTacToe/TicTacToe.Console/bin/Debug/net6.0
/TicTacToe/TicTacToe.Console/obj
/TicTacToe/TicTacToe.Library/bin/Debug/net6.0
/TicTacToe/TicTacToe.Library/obj
/TicTacToe/TicTacToe.Tests/bin/Debug/net6.0
/TicTacToe/TicTacToe.Tests/obj
/TicTacToe/.vs/ProjectEvaluation
/TicTacToe/TicTacToe.AIPlayer/bin/Debug/net6.0
/TicTacToe/TicTacToe.AIPlayer/obj
/TicTacToe/TicTacToe.sln.DotSettings.user
*.DotSettings
/Othello/.cr/personal/FavoritesList
/TicTacToe/.cr/personal/FavoritesList
/TicTacToe/TicTacToe.GUI/bin/Debug/net7.0-windows
/TicTacToe/TicTacToe.GUI/obj
*.user
